{% extends "layout.html" %}
{% block body %}

<div style="width: 100%; overflow: hidden;"><h1 style="text-align: center">Twitter Plays Chess</h1></div>

<div style="width:100%; overflow: hidden;">
    <p>Twitter Plays Chess is a social experiment leveraging collective human
    intelligence to play chess against an AI. You can submit a vote for a move by making a
    tweet with the hashtag #TwitterPlaysChess. Moves must specify the square of
    the piece to move and the square to move to. For example, if the game has
    just started, tweeting 'a2a3 #TwitterPlaysChess' will vote for the pawn in
    square a2 to move to a3. To vote for a new game, tweet 'newgame
    #TwitterPlaysChess'. To get around Twitter's limitation on posting the same
    tweet, you can add anything after the move itself (e.g. 'a2a3 I am awesome
    #TwitterPlaysChess'). Moves not of the above format will not be accepted.
    Every minute, the move with the largest number of votes is chosen. The AI is
    then given 10 seconds to determine its move.</p>
</div>

<div style="width: 100%; overflow: hidden;">
    <!--<div id="board" style="width: 400px; float: left;"> Left </div>--!>
    <div id="board" style="width: 30%; float: left; align: center"> Left </div>

    <!--<div style="margin-left: 620px;">--!> 
    <div style="width: 30%; float: left; align: center">
        <!-- Twitter Feed !-->
        <a class="twitter-timeline" href="https://twitter.com/hashtag/TwitterPlaysChess"
            data-widget-id="590242953668485122">#TwitterPlaysChess Tweets</a>
        <script>!function(d,s,id){var
            js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        
    </div>
    <div style="width: 30%; float: left; align: center">
    <table id="example" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Move</th>
                <th>Count</th>
            </tr>
        </thead>
    </table>
    </div>

</div>
<script src="{{ url_for('static', filename='board.js') }}"></script>
<script src="{{ url_for('static', filename='chess_ai.js') }}"></script>

{% endblock %}
